<p>WELCOME!</p>
<p>Todo List</p>

<h2>TODO WORKS</h2>
<img src="https://static.vecteezy.com/system/resources/thumbnails/046/265/
815/small/to-do-list-or-planning-icon-concept-all-tasks-are-completed-paper-s
heets-with-check-marks-vector.jpg"alt="todo list image" class="todo-image">

<div class="addtask">
<input [(ngModel)]="newTask" placeholder="ENTER THE TASK">
<button (click)="addTask()">Add Task</button>
</div>

<div class="taskList">
<li *ngFor="let todoItem of todoList;let i=index">

<input type="checkbox" name="" id="" (change)="toggleCompleted(i)">
<span [class.completed]="todoItem.completed" >{{todoItem.task}}</span>
<button class="deleteButton" (click)="deleteTask(todoItem.id)">Delete</button>

</li>
</div>

<router-outlet/>
